.loginWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.error {
  margin: 20px 0;
}

.loginInput {
  width: 100%;
}

.loginActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
