.chatsWrapper {
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  height: 100%;
  margin-right: auto;
  box-shadow: 5px 0px 5px 3px #f1f1f1;
  z-index: 1;
}

.addChat {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
