.chatsWrapper {
  padding: 10px;
  border-right: 1px solid #e2e2e2;
}
.link {
  width: 100%;
  font-size: 24px;
  color: #000;
  &:hover {
    opacity: 0.8;
  }
  &:visited {
    color: #000;
  }
}

.addChat {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.chatItemWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}