.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  border-right: 1px solid #e2e2e2;
}
.link {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #000;
  &:hover {
    opacity: 0.8;
  }
  &:visited {
    color: #000;
  }
}
