.signUpWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.signupInput {
  width: 100%;
}

.signupActions {
  display: flex;
  align-items: center;
}

.error {
  margin: 20px 0;
}
