.App {
  display: grid;
  grid-template-columns: 1fr 100%;
  grid-template-areas: 'navbar main';
  min-height: 100vh;
}

.main {
  margin-top: 70px;
  max-width: 80%;
  grid-area: main;
}

.list {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  width: 100%;
}

.listItem {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e2e2e2;
}
