.form {
  padding: 10px;
  padding-top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.textarea {
  width: 100%;
  border-radius: 5px;
  font-family: sans-serif;
  margin-right: 20px !important;
}


.btn {
  background-color: #9c27b0 !important;
  color: #fff !important;
}