.form {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
}
.textarea {
  border-radius: 5px;
  font-family: sans-serif;
  width: 500px;
  padding: 5px;
  margin-right: 20px !important;
}


.btn {
  background-color: #9c27b0 !important;
  color: #fff !important;
}